---
import { Image } from "astro:assets";
import Typography from "@/components/ui/typography.astro";

interface Props {
  image: any;
  link: string;
  year: string;
  title: string;
  description: string;
  className: string;
  alt: string;
}

const { image, link, year, title, description, className, alt } = Astro.props;
---

<figure class="odd:my-15v last:odd:mb-0">
  <div
    class="mt-12 animate-fade-left overflow-hidden rounded-lg animate-delay-100 animate-once"
  >
    <Image
      alt={alt}
      class={`-my-16 h-70v min-h-50 w-full animate-pulse-bg rounded-xl object-cover ${className}`}
      data-scroll
      data-scroll-speed="-0.5"
      decoding="async"
      loading="lazy"
      src={image}
    />
  </div>
  <figcaption class="mt-12 w-full justify-between lg:flex">
    <div class="animate-fade-left animate-delay-200 animate-once">
      <Typography
        className="cursor-pointer"
        component="a"
        href={link}
        target="_blank"
        variant="p"
      >
        <span class="link-underline link-underline-black">
          {title} - "{year}"
        </span>
      </Typography>
    </div>

    <Typography
      className="mt-6 animate-fade-left animate-delay-300 animate-once lg:mt-0"
      variant="p"
    >
      {description}
    </Typography>
  </figcaption>
</figure>
