---
import { Image } from "astro:assets";
import Typography from "@/components/ui/typography.astro";

interface Props {
  image: any;
  link: string;
  year: string;
  title?: string;
  description?: string;
  className: string;
  alt: string;
  single?: boolean;
}

const { image, link, year, title, description, className, alt, single } =
  Astro.props;
---

<figure class={single ? undefined : "odd:my-15v last:odd:mb-0"}>
  <a href={link}>
    <div
      class="group relative cursor-pointer overflow-hidden rounded-lg opacity-0 animate-delay-100 animate-once"
      data-scroll
      data-scroll-class="animate-fade"
    >
      <div
        class="absolute left-[50%] top-[50%] z-10 translate-x-[-50%] translate-y-[-50%] opacity-0 transition-opacity delay-75 duration-500 group-hover:opacity-100"
      >
        <div
          class="flex !h-64 !w-64 items-center justify-center rounded-full bg-white p-5 text-center shadow-2xl"
        >
          <Typography
            className="text-4xl"
            variant="p"
          >
            View project
          </Typography>
        </div>
      </div>
      <div
        class="relative -my-16 rounded-xl"
        data-scroll
        data-scroll-speed="-0.5"
      >
        <Image
          alt={alt}
          class={`w-full animate-pulse-bg object-cover transition duration-500 group-hover:scale-105 ${className}`}
          decoding="async"
          height={1080}
          loading="lazy"
          src={image}
          width={1980}
        />
      </div>
    </div>
  </a>
  <figcaption class="mt-12 w-full justify-between lg:flex">
    <div
      class="opacity-0 animate-delay-200 animate-once"
      data-scroll
      data-scroll-class="animate-fade"
    >
      <Typography
        className="cursor-pointer"
        component="a"
        href={link}
        variant="p"
      >
        <span class="link-underline link-underline-black">
          {title} - "{year}"
        </span>
      </Typography>
    </div>

    <Typography
      className="mt-6 opacity-0 animate-delay-300 animate-once lg:mt-0"
      data-scroll
      data-scroll-class="animate-fade"
      variant="p"
    >
      {description}
    </Typography>
  </figcaption>
</figure>
