---
import { Image } from "astro:assets";
import Link from "./ui/Link.astro";

const { image, link, year, title, description, className, alt } = Astro.props;
---

<div class="mt-15v text-4xl first:mt-0 lg:min-w-[140rem] lg:max-w-[140rem]">
  <div
    class="mt-12 animate-fade-left overflow-hidden rounded-lg animate-delay-100 animate-once"
  >
    <Image
      alt={alt}
      class={"-my-16 h-70v min-h-50 w-full rounded-xl object-cover " +
        className}
      data-scroll
      data-scroll-speed="-0.5"
      decoding="async"
      loading="lazy"
      src={image}
    />
  </div>
  <div class="w-full justify-between md:flex">
    <Link
      className="my-12 mt-16 animate-fade-left animate-delay-200 animate-once md:my-5"
      href={link}
      target="_blank"
    >
      {title} - "{year}"
    </Link>
    <p class="my-5 animate-fade-left animate-delay-300 animate-once">
      {description}
    </p>
  </div>
</div>
