---
const { image, link, year, title, description } = Astro.props;
---

<div class="mt-10v text-4xl first:mt-0 lg:min-w-[140rem] lg:max-w-[140rem]">
  <img
    class="mt-12 h-70v max-h-80 min-h-50 w-full animate-fade-left rounded-xl object-cover object-[75%_65%] animate-delay-100 animate-once"
    src={image}
  />
  <div class="mt-12 w-full justify-between md:flex">
    <div class="my-5 animate-fade-left animate-delay-200 animate-once">
      <a target="_blank" href={link}>{title} - "{year}"</a>
    </div>
    <p
      class="my-5 animate-fade-left text-gray-400 animate-delay-300 animate-once"
    >
      {description}
    </p>
  </div>
</div>
